<div class="container" id="bigContainer">
    <div class="row">
        <div class="col">
            <img id="burgerImg" src='/assets/img/burger.png'>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Eat-Da-Burger!</h1>
        </div>
    </div>

    {{!-- Devour button --}}
    <button id="devourBtn" type="submit">Devour It!</button>

    {{!-- Form Submission --}}
    <div class="row">
        <div class="col">
            <div id="enterBurger">
                <form id="burgerForm">
                    <textarea type="text" name="burgerName" rows="5" cols="40" wrap="hard"></textarea>
                    <br>
                    <button id="submitBtn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Enter a burger you want to eat, then click the 'Submit' button.</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {{#each burgers}}
        {{#unless devoured}}
        <div class="row">
            <div class="col">
                <h1>{{burger_name}}</h1>
            </div>
            <div class="col">
                <button class="devourBtn btn btn-primary" data-id="{{id}}">Devour It!</button>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    <div class="col">
        {{#each burgers}}
        {{#if devoured}}
        <h1>{{burger_name}}</h1>
        {{/if}}
        {{/each}}
    </div>
</div>